* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-family: "Just Me Again Down Here", cursive;
  font-family: "Nanum Myeongjo", serif;
}

input, select {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 3;
  background-color: #e0dfdd;
}
#header > .center {
  width: 85%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#header > .center .logo {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 80px;
  font-family: "Nanum Myeongjo", serif;
}
#header > .center .gnb {
  display: flex;
}
#header > .center .gnb li {
  margin: 0 20px;
}
#header > .center .gnb li a {
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 80px;
  font-family: "Nanum Myeongjo", serif;
}
#header > .center .gnb li.on a {
  color: #db8b39;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#container .cont1 {
  position: relative;
  background-color: #e0dfdd;
  width: 100%;
  height: 100vh;
}
#container .cont1 .textwrap {
  color: #000;
  position: absolute;
  top: 30%;
  left: 130px;
}
#container .cont1 .textwrap .row {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 50px;
  font-style: italic;
  font-family: "Nanum Myeongjo", serif;
}
#container .cont1 .textwrap .intext {
  font-size: 80px;
  font-style: italic;
  font-family: "Nanum Myeongjo", serif;
}
#container .cont1 .scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 80px;
  rotate: 270deg;
  color: #000;
  transition: all 0.5s;
}
#container .cont1 .scroll::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 50%;
  transform: translateX(-50%);
  left: -40px;
}
#container .cont2 {
  background-color: #272727;
  color: #fff;
  padding: 150px 0;
  height: 100vh;
  position: relative;
  transition: all 0.5s;
  color: #fff;
}
#container .cont2 > .center {
  width: 80%;
  margin: 0 auto;
  z-index: 3;
}
#container .cont2 > .center h2 {
  font-size: 120px;
  font-family: "Just Me Again Down Here";
}
#container .cont2 > .center .textwrap {
  display: flex;
  margin: 150px 0 200px;
}
#container .cont2 > .center .textwrap .leftwrap {
  margin-left: 100px;
}
#container .cont2 > .center .textwrap .rightwrap {
  font-size: 15px;
  line-height: 30px;
  margin-left: 200px;
}
#container .cont2 > .center .countWrap {
  display: flex;
}
#container .cont2 > .center .countWrap .box {
  margin: 0 60px;
  width: 30%;
}
#container .cont2 > .center .countWrap .box .tit {
  font-size: 16px;
  font-weight: 500;
}
#container .cont2 > .center .countWrap .box .skill_bar {
  width: 0%;
  height: 2px;
  background-color: #db8b39;
  margin: 10px 0 40px;
}
#container .cont2 > .center .countWrap .box > p {
  line-height: 35px;
}
#container .cont2 > .center .countWrap .box > p:last-child {
  font-size: 14px;
}
#container .cont3 {
  background-color: #e0dfdd;
  height: 100%;
  position: relative;
}
#container .cont3 .center h2 {
  padding: 100px 25px;
  font-size: 25px;
  color: #000;
}
#container .cont3 .center .port {
  border-top: 1px solid #000;
  display: flex;
}
#container .cont3 .center .port .left .top .num {
  font-size: 130px;
  padding: 30px 0 30px 30px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
#container .cont3 .center .port .left .bot {
  display: flex;
}
#container .cont3 .center .port .left .bot .bot_left {
  width: 40%;
  border-right: 1px solid #000;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap {
  overflow: hidden;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .fir {
  margin-bottom: 267px;
  text-align: center;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .fir > p {
  margin: 0 auto;
  line-height: 70px;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row {
  padding: 20px 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap > p {
  padding-bottom: 10px;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .compo {
  line-height: 1.7;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap span {
  position: relative;
  top: 3px;
  font-size: 15px;
  margin-right: 15px;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .location {
  display: block;
  text-align: end;
  color: #000;
  font-size: 14px;
}
#container .cont3 .center .port .left .bot .bot_right {
  width: 60%;
  background-color: rgba(9, 9, 9, 0.2);
}
#container .cont3 .center .port .left .bot .bot_right .portTitle {
  padding: 25px;
  font-size: 45px;
  font-weight: bold;
  display: block;
  color: #000;
}
#container .cont3 .center .port .left .bot .bot_right > span {
  font-size: 50px;
}
#container .cont3 .center .port .right {
  width: 40%;
}
#container .cont3 .center .port .right > img {
  width: 100%;
  height: 800px;
  border-right: 1px solid #000;
}
#container .cont4 {
  background-color: #e0dfdd;
}
#container .cont4 .center {
  width: 85%;
  margin: 0 auto;
  padding: 100px 0;
}
#container .cont4 .center .contact {
  font-weight: bold;
}
#container .cont4 .center > p {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 20px;
}
#container .cont4 .center .spanwrap > span {
  position: absolute;
  font-size: 33px;
  margin: 0 auto;
  display: block;
  width: 20px;
  left: 50%;
  transition: all 0.5s;
  transform: translateX(-50%);
}
#container .cont4 .center .spanwrap .down.on {
  opacity: 0;
}
#container .cont4 .center .spanwrap .up {
  opacity: 0;
}
#container .cont4 .center .spanwrap .up.on {
  opacity: 1;
}
#container .cont4 .center .myinfo {
  margin-top: 65px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s;
}
#container .cont4 .center .myinfo > p {
  text-align: center;
  line-height: 40px;
}
#container .cont4 .center .myinfo.on {
  transition: all 0.5s;
  opacity: 1;
}

#footer {
  background-color: #272727;
  text-align: center;
}
#footer .copy {
  font-size: 14px;
  line-height: 100px;
  color: #fff;
}