* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-family: "Just Me Again Down Here", cursive;
  font-family: "Nanum Myeongjo", serif;
  overflow-x: hidden;
}

input, select {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

#header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: #e0dfdd;
}
#header > .center {
  width: 85%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#header > .center .logo {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 80px;
  font-family: "Nanum Myeongjo", serif;
}
#header > .center .gnb {
  display: flex;
}
#header > .center .gnb li {
  margin: 0 20px;
}
#header > .center .gnb li a {
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 80px;
  font-family: "Nanum Myeongjo", serif;
}
#header > .center .gnb li.on a {
  color: #db8b39;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#container .cont1 {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .cont1 .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e0dfdd;
}
#container .cont1 .textwrap {
  color: #000;
  position: absolute;
  top: 30%;
  left: 130px;
}
#container .cont1 .textwrap .row {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 50px;
  font-style: italic;
  font-family: "Nanum Myeongjo", serif;
}
#container .cont1 .textwrap .intext {
  font-size: 80px;
  font-style: italic;
  font-family: "Nanum Myeongjo", serif;
}
#container .cont1 .scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 80px;
  rotate: 270deg;
  color: #000;
  transition: all 0.5s;
}
#container .cont1 .scroll::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 50%;
  transform: translateX(-50%);
  left: -40px;
}
#container .cont1 .circle {
  position: absolute;
  right: -90px;
  bottom: -50px;
  width: 450px;
  height: 450px;
  line-height: 300px;
  border: 1px solid #272727;
  border-radius: 50%;
  animation-name: move_circle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move_circle {
  0% {
    bottom: -50px;
    right: -90px;
  }
  25% {
    bottom: 200px;
    right: -10px;
  }
  50% {
    bottom: 400px;
    right: -90px;
  }
  75% {
    bottom: 200px;
    right: -10px;
  }
}
#container .cont2 {
  background-color: rgb(224, 223, 221);
  color: #fff;
  padding: 150px 0;
  height: 100%;
  position: relative;
  transition: all 0.5s;
  color: #000;
}
#container .cont2 > .center {
  width: 80%;
  margin: 0 auto;
  z-index: 3;
}
#container .cont2 > .center h2 {
  font-size: 120px;
  font-family: "Just Me Again Down Here";
}
#container .cont2 > .center .bot {
  display: flex;
}
#container .cont2 > .center .bot .textwrap {
  margin: 150px 100px 200px 20px;
  width: 30%;
}
#container .cont2 > .center .bot .textwrap .toptext {
  margin-bottom: 50px;
}
#container .cont2 > .center .bot .textwrap .bottext {
  font-size: 15px;
  line-height: 30px;
}
#container .cont2 > .center .bot .countWrap {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-left: 100px;
}
#container .cont2 > .center .bot .countWrap .box {
  margin: 20px 60px;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}
#container .cont2 > .center .bot .countWrap .box .tit {
  font-size: 16px;
  font-weight: bold;
}
#container .cont2 > .center .bot .countWrap .box .skill_bar {
  width: 0%;
  height: 2px;
  background-color: #db8b39;
  margin: 10px 0 40px;
}
#container .cont2 > .center .bot .countWrap .box > p {
  line-height: 35px;
}
#container .cont2 > .center .bot .countWrap .box > p:last-child {
  font-size: 14px;
}
#container .cont3 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #e0dfdd;
  height: 100%;
  position: relative;
}
#container .cont3 .center {
  width: 85%;
  margin: 0 auto;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#container .cont3 .center h2 {
  padding: 100px 25px;
  font-size: 25px;
  color: #000;
}
#container .cont3 .center .port {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-bottom: 50px;
}
#container .cont3 .center .port:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
#container .cont3 .center .port .left {
  width: 70%;
}
#container .cont3 .center .port .left .top .num {
  font-size: 130px;
  padding: 30px 0 30px 30px;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
#container .cont3 .center .port .left .bot {
  display: flex;
}
#container .cont3 .center .port .left .bot .bot_left {
  width: 40%;
  border-right: 1px solid #000;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap {
  overflow: hidden;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .one {
  text-align: center;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .one > p {
  margin: 0 auto;
  line-height: 70px;
  font-weight: bold;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row {
  padding: 20px 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row:first-child {
  border-top: none;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .compo {
  line-height: 1.5;
  width: 230px;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .compo > p {
  padding-bottom: 10px;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .compo #highlight {
  line-height: 1;
  margin-bottom: 10px;
  font-weight: bold;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .compo #highlight1 {
  font-weight: bold;
  font-style: italic;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap span {
  position: relative;
  top: 3px;
  font-size: 15px;
  margin-right: 15px;
}
#container .cont3 .center .port .left .bot .bot_left .rowwrap .row .wrap .location {
  display: block;
  text-align: end;
  color: #000;
  font-size: 14px;
}
#container .cont3 .center .port .left .bot .bot_right {
  width: 60%;
}
#container .cont3 .center .port .left .bot .bot_right .portTitle {
  padding: 25px;
  font-size: 45px;
  font-weight: bold;
  display: block;
  color: #000;
}
#container .cont3 .center .port .left .bot .bot_right .location {
  color: #000;
  font-size: 15px;
  display: block;
  margin: 20px 0 20px 35px;
  padding: 15px;
  width: 30%;
  border: 1px solid #000;
  border-left: none;
  border-radius: 0 25px 25px 0;
  transition: all 0.5s;
  background-color: #d7d7d7;
}
#container .cont3 .center .port .left .bot .bot_right .location:hover {
  width: 40%;
  font-size: 17px;
  font-weight: bold;
}
#container .cont3 .center .port .left .bot .mainbox1 {
  background-color: #d7d7d7;
}
#container .cont3 .center .port .left .bot .mainbox1 .location {
  background-color: rgba(170, 170, 170, 0.5);
}
#container .cont3 .center .port .left .bot .mainbox2 {
  background-color: #eeede5;
}
#container .cont3 .center .port .left .bot .mainbox2 .location {
  background-color: rgba(205, 197, 167, 0.5);
}
#container .cont3 .center .port .left .bot .mainbox3 {
  background-color: rgba(22, 62, 96, 0.8);
}
#container .cont3 .center .port .left .bot .mainbox3 .location {
  background-color: rgba(112, 142, 168, 0.5);
}
#container .cont3 .center .port .left .bot .mainbox3 .click {
  font-size: 13px;
}
#container .cont3 .center .port .right {
  width: 30%;
  padding: 20px;
  border-right: 1px solid #000;
}
#container .cont3 .center .port .right > img {
  width: 100%;
  height: 687px;
  display: block;
}
#container .cont3 .center .port .right1 {
  background-color: #d7d7d7;
}
#container .cont3 .center .port .right2 {
  background-color: rgba(238, 237, 229, 0.5);
  border-right: none;
  border-left: 1px solid #000;
}
#container .cont3 .center .port .right2 > img {
  height: 750px;
}
#container .cont3 .center .port .right3 {
  background-color: rgba(22, 57, 99, 0.2);
}
#container .cont3 .center .port .right3 > img {
  height: 910px;
}
#container .cont3 .center .port2 .left .bot .bot_left {
  border-right: none;
}
#container .cont3 .center .port2 .left .bot .mainbox2 {
  border-right: 1px solid #000;
}
#container .cont4 {
  background-color: #e0dfdd;
}
#container .cont4 .center {
  width: 85%;
  margin: 0 auto;
  padding: 100px 0;
}
#container .cont4 .center .contact {
  font-weight: bold;
}
#container .cont4 .center > p {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 20px;
}
#container .cont4 .center .spanwrap > span {
  position: absolute;
  font-size: 33px;
  margin: 0 auto;
  display: block;
  width: 20px;
  left: 50%;
  transition: all 0.5s;
  transform: translateX(-50%);
}
#container .cont4 .center .spanwrap .down {
  opacity: 0;
}
#container .cont4 .center .spanwrap .down.on {
  opacity: 1;
}
#container .cont4 .center .spanwrap .up {
  opacity: 1;
}
#container .cont4 .center .spanwrap .up.on {
  opacity: 0;
}
#container .cont4 .center .myinfo {
  margin-top: 65px;
  opacity: 1;
  overflow: hidden;
  transition: all 0.5s;
}
#container .cont4 .center .myinfo > p {
  text-align: center;
  line-height: 40px;
}
#container .cont4 .center .myinfo.on {
  transition: all 0.5s;
  opacity: 0;
}

#footer {
  background-color: #272727;
  text-align: center;
}
#footer .copy {
  font-size: 14px;
  line-height: 100px;
  color: #fff;
}