* { margin:0; padding:0;}
ul,ol,li { list-style:none;}
a { text-decoration:none;}
img,video { vertical-align:top;}
table { border-collapse:collapse;}
body { line-height:1;font-family: 'Just Me Again Down Here', cursive;
     font-family: 'Nanum Myeongjo', serif;
     overflow-x: hidden;}
input,select { border:none; outline: none;}
textarea {outline: none;}

